body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 142, 244);
}

.container {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#hasil {
    font-weight: bold;
}
